.sidenav-container {
    height: 100%;
  }
  
  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .main-content {
    flex-grow: 1;
    margin-top: 64px; /* Adjust based on your toolbar height */
    margin-bottom: 64px; /* Adjust based on your footer height */
    padding: 16px;
  }
  