<ion-card [formGroup]="form">
  <ion-card-header>
    <ion-card-title>{{ formProperties.title }}</ion-card-title>
    <ion-card-subtitle *ngIf="formProperties.subtitle">{{ formProperties.subtitle }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content *ngIf="formFields.length">
    <ng-container *ngFor="let field of formFields">
      <ion-item *ngIf="field.type === 'text' || field.type === 'number' || field.type === 'email' || field.type === 'password'">
        <ion-label position="stacked">{{ field.label }}</ion-label>
        <ion-input [formControlName]="field.name" [type]="field.type"></ion-input>
        <ion-note slot="error" *ngIf="form.get(field.name)?.hasError('required')">
          {{ field.label }} is required
        </ion-note>
        <ion-note slot="error" *ngIf="form.get(field.name)?.hasError('email')">
          {{ field.label }} is invalid
        </ion-note>
        <ion-note slot="error" *ngIf="form.get(field.name)?.hasError('minlength')">
          {{ field.label }} must be at least {{ form.get(field.name)?.errors?.['minlength']?.requiredLength }} characters
        </ion-note>
      </ion-item>

      <ion-item *ngIf="field.type === 'select'">
        <ion-label position="stacked">{{ field.label }}</ion-label>
        <ion-select [formControlName]="field.name">
          <ion-select-option *ngFor="let option of getOptions(field)" [value]="option.key">{{ option.value }}</ion-select-option>
        </ion-select>
        <ion-note slot="error" *ngIf="form.get(field.name)?.hasError('required')">
          {{ field.label }} is required
        </ion-note>
      </ion-item>

      <ion-item *ngIf="field.type === 'textarea'">
        <ion-label position="stacked">{{ field.label }}</ion-label>
        <ion-textarea [formControlName]="field.name"></ion-textarea>
        <ion-note slot="error" *ngIf="form.get(field.name)?.hasError('required')">
          {{ field.label }} is required
        </ion-note>
      </ion-item>

      <ion-item *ngIf="field.type === 'date'">
        <ion-label position="stacked">{{ field.label }}</ion-label>
        <ion-datetime [formControlName]="field.name"></ion-datetime>
        <ion-note slot="error" *ngIf="form.get(field.name)?.hasError('required')">
          {{ field.label }} is required
        </ion-note>
      </ion-item>

      <ion-note slot="error" *ngIf="form.get(field.name)?.hasError('max')">
        {{ field.label }} cannot be more than {{ field.max }}
      </ion-note>
      <ion-note slot="error" *ngIf="form.get(field.name)?.hasError('min')">
        {{ field.label }} cannot be less than {{ field.min }}
      </ion-note>
      <ion-note slot="error" *ngIf="form.get(field.name)?.hasError('pattern')">
        {{ field.label }} is invalid
      </ion-note>
    </ng-container>
  </ion-card-content>
  <ion-card-content>
    <ion-row>
      <ion-col *ngIf="formProperties.showCancelBtn">
        <ion-button expand="block" (click)="close()" color="danger" fill="outline">
          {{ formProperties.cancelButtonText || "Cancel" }}
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button expand="block" (click)="submit()" color="success" fill="outline">
          {{ formProperties.submitButtonText || "Submit" }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
